<main class="landing">
  <div class="container">
    <div class="text-center">
      <button class="btn btn-lg btn-primary">Start a New List</button>
      <form class="form-inline" name="todo-finder-form" ng-submit="">
        <div class="input-group input-group-lg">
          <input class="form-control text-center" placeholder="Continue an Old List"
                 type="text" name="list-id" required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-tasks"></i></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</main>
